* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  touch-action: none;
}

body {
  overflow: hidden;
  display: flex;
  background: #111;
  perspective: 1000px;
  transform-style: preserve-3d;
}

/* Container */
#drag-container,
#spin-container {
  position: relative;
  display: flex;
  margin: auto;
  transform-style: preserve-3d;
  transform: rotateX(-10deg);
}

/* Style chung cho ảnh và video */
#drag-container img,
#drag-container video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Giúp ảnh & video fit đẹp mà không bị viền đen */
  object-fit: cover;

  border-radius: 10px;
  box-shadow: 0 0 8px #fff;
  transform-style: preserve-3d;

  /* Hiệu ứng phản chiếu */
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0005);
}

/* Hover */
#drag-container img:hover,
#drag-container video:hover {
  box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0007);
}

/* Text dưới vòng xoay */
#drag-container p {
  font-family: serif;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(90deg);
  color: #fff;
  font-size: 22px;
}

/* Mặt đất */
#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background: radial-gradient(circle, #9993, transparent);
}

/* Animation */
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spinRevert {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
